header{
	margin-bottom:10%;
}

header section.about{
	margin:3% 0 3% 0;
	font:300 1em/1.6em "merriweather";
	color: #444;
}

nav{
	position:relative;
	margin-top:-6%;
	margin-bottom:10%;
	border-bottom: solid 1px #b8373b;
}

nav ul{
	margin:5px;
}

nav ul li{
	display:inline-block;
	margin:5px 20px 5px 0px;
	opacity:0.4;
	transition: all 0.1s;
	-moz-transition: all 0.1s; /* Firefox 4 */
	-webkit-transition: all 0.1s; /* Safari and Chrome */
	-o-transition: all 0.1px; /* Opera */
}

nav ul:hover li{opacity:1;}

nav ul li.selected{opacity:1;}

nav ul li a{
	font-family: 'Lato', sans-serif;
	font-size:0.7em; 
}

a {color:#b8373b; text-decoration: none;}

h2{
	font-family: 'Lato', sans-serif;
	font-size:2.0em; line-height: 1.5em;
	margin:2% 0 1% 0;
}

h3{
	font-family: 'Lato', sans-serif;
	font-size:1.3em; line-height: 1em;
	margin:1% 0 1% 0;
}

p.title{
	font:900 14px/22px "lato";
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	border-top:solid 1px #999;
}

p.title span{

	background:#b8373b;
	position: relative;
	top:-10px;
	padding:0 20px;
}

hr{
	border:none;
	border-top:solid 1px #999;
	margin:4% 40% 4% 40%;
}

h1{
	font-family:"merriweather";	
	font-size:1.3em; line-height: 1.2em;
	color:#000;
}

article{
	color:#333;
	font:400 0.9em/1.6em "merriweather";
	margin-top:2%;
}

article ul, article ol, article blockquote{
	margin-left:3em;
}

article ul{list-style: disc}
article ol{list-style: upper-roman}
article blockquote{margin:4% 0 4% 0;}
article blockquote p{text-indent: 0px; font-size:1.1em; line-height: 1.8em; color:#999; font-style: italic;}
article blockquote span.by{display:block; text-align: right; color:#b8373b;}
article abbr{border-bottom: dashed 1px}

article .info{
	font-style: italic;
	margin:1% 0 1% 0;
	color:#888;
}

article p{
	margin:15px 0 15px 0;
}

section#articlesList {margin:10% 0;}

section#articlesList h1{ margin:2% 0 2% 0;}
section#articlesList article{ margin:5% 0 15% 0;}
section#articlesList .excerpt p{text-indent: 0; margin:0; padding:0;}


footer{
	text-align: center;
	margin:10% 0 5% 0;
	font:400 0.9em/1.4em "merriweather";
	color:#888;
}

footer p{
	margin:1% 0 1% 0;
}

.clear{
	display:block; float:none; clear:both; height:1px;
}


@media screen and (min-width: 320px) {
	body{	
		padding:10%;
		background:#fff;
	}
	article .info .permalink{display:inline-block; width:16px; height:16px; vertical-align: middle; background:url(../img/link.png) no-repeat;}
}

@media screen and (min-width: 768px) {
	body{	
		padding:6%;
		background:#fff;
	}
	article .info .permalink{display:inline-block; width:16px; height:16px; vertical-align: middle; background:url(../img/link.png) no-repeat;}

	section#articlesList .info{ margin:0; padding:0; float:left; width:20%; margin-right:5%;}
	section#articlesList .excerpt{ float:left; width:75%; }
}

@media screen and (min-width: 960px) {
	body{	
		padding:7% 20% 7% 20%;
		background:#fff url(../img/100-50-3.png);
	}

	article .info .permalink{display:inline-block; position:relative; left:-290px; width:16px; height:16px; vertical-align: middle; background:url(../img/link.png) no-repeat;}
	
	section#articlesList .info{ margin:0; padding:0; float:left; width:20%; margin-right:5%;}
	section#articlesList .excerpt{ float:left; width:75%; }
}
