{% extends "_post.html" %}

{%hyde
    title: Sample Post
    description: This is a sample post
    created: 2012-1-1 00:00:01
%}

{% block article %}

{%article%}

{% excerpt %}

Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel ways about stuff! Oh sure! Blame the wizards! I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually? For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. Pansy.

{%endexcerpt%}

So, without further ado, allow me to start my list:

## Bendin' in the Wind ##

Take me to your leader! Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew. I'll get my kit! We'll go deliver this crate like professionals, and then we'll go home. We'll need to have a look inside you with this camera. Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry?

- It must be wonderful.
- No. We're on the top.
- This is the worst part. The calm before the battle.
- Yes! In your face, Gandhi!

## The Route of All Evil ##

Calculon is gonna kill us and it's all everybody else's fault! Ooh, name it after me! Or a guy who burns down a bar for the insurance money!

### Bend Her ###

How much did you make me? Ask her how her day was. Leela, are you alright? You got wanged on the head.

- We'll need to have a look inside you with this camera.
- Robot 1-X, save my friends! And Zoidberg!

### Put Your Head on my Shoulder ###

I found what I need. And it's not friends, it's things. There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Dr. Zoidberg, that doesn't make sense. But, okay! I don't 'need' to drink. I can quit anytime I want! So, how 'bout them Knicks?

{%endarticle%}

{% endblock %}
